<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Atualização de Produto - ERP</title>
  </head>
  <body>
    <h1>Formulário de Atualização de produto</h1>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <img src="{{produto.imagem.url}}" alt="{{produto.nome}}" width="100px" />
      {{ form }}

      <button type="submit">Atualizar Produto</button>
    </form>
  </body>
</html>
